# Copy this file into env.py

class Env:
    DEV = False
    PIAZZA_USER = ''
    PIAZZA_PASS = ''
    COURSE_NAME = ''
    COURSE_NID = ''
    RESOURCES_URL = ''
    SENDER_NAME = ''
    SENDER_EMAIL = ''
    CHECK_FREQUENCY = 5     # Should match the cron job delay (in minutes)
    DB_FILE = ''
    UNSUBSCRIBE_URL = ''
