# Copy this file into env.py

class Env:
    DEV = True
    PIAZZA_USER = ''
    PIAZZA_PASS = ''
    COURSE_NAME = ''
    COURSE_NID = ''
    RESOURCES_URL = ''
    SENDER_NAME = ''
    SENDER_EMAIL = 'd'
    CHECK_FREQUENCY = 5     # Should match the cron job delay (in minutes)
    FIREBASE_CREDENTIALS = '/path/to/serviceAccountKey.json'
    UNSUBSCRIBE_URL = ''
